@model DailyStatement.Models.Employee

@{
    ViewBag.Title = "新增帳號";
}

<div class="row">
    <div class="span6 offset3">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>新增帳號</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rank)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RankId, ViewData["Ranks"] as SelectList)
            @Html.ValidationMessageFor(model => model.RankId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecvNotify)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecvNotify)
            @Html.ValidationMessageFor(model => model.RecvNotify)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activity)
            @Html.ValidationMessageFor(model => model.Activity)
        </div>

        <p>
            <input type="submit" value="新增" class="btn btn-small btn-success" /> @Html.ActionLink("返回", "Index", null, new { @class="btn btn-small" })
        </p>
    </fieldset>
}

</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
