@model DailyStatement.Models.Employee

@{
    ViewBag.Title = "編輯帳號";
}

<div class="row">
    <div class="span6 offset3">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>編輯帳號</legend>

        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            <div id="change_password" class="hide">
                <input type="password" name="Password" />&nbsp;
                <a href="#" id="save_password" class="btn btn-small btn-success">修改</a>&nbsp;
                <a href="#" id="cancel_password" class="btn btn-small">取消</a>
            </div>
            <a href="#" id="btn_change" class="btn btn-small btn-warning">按我更改密碼</a>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rank)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RankId, ViewData["Ranks"] as SelectList)
            @Html.ValidationMessageFor(model => model.RankId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecvNotify)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecvNotify)
            @Html.ValidationMessageFor(model => model.RecvNotify)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activity)
            @Html.ValidationMessageFor(model => model.Activity)
        </div>

        <p>
            <input type="submit" value="儲存" class="btn btn-small btn-success" /> @Html.ActionLink("返回", "Index", null, new { @class="btn btn-small"})
        </p>
    </fieldset>
}

</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#btn_change").click(function () {
            $("#change_password").removeClass("hide");
            $("#btn_change").addClass("hide");
        });

        $("#save_password").click(function () {
            var password = $('input[name="Password"]').val();
            if (password == "") {
                alert("請輸入要修改的密碼！");
                return false;
            }
            $.post("@Url.Action("ChangePassword", "Employee")", { EmployeeId: "@Model.EmployeeId", Password: password })
                .done(function (data) {
                    $('input[name="Password"]').val("");
                    alert("密碼修改成功！");
                })
                .fail(function () {
                    alert("密碼修改失敗，請聯絡系統管理員！");
                });

            $("#change_password").addClass("hide");
            $("#btn_change").removeClass("hide");
        });
        
        $("#cancel_password").click(function () {
            $("#change_password").addClass("hide");
            $("#btn_change").removeClass("hide");
        });
    </script>
}
