@model DailyStatement.Models.Employee
@{
    ViewBag.Title = "登入";
}
@section scripts{
    <script>
        $(function(){
            @*var window = $("form").kendoWindow({
                draggable: true,
                resizable: false,
                width: 310,
                height: 270,
                title: "Identity",
                actions: ["Refresh"]

            });*@
        });
            
    </script>
    }
<div class="container">
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div style="width:auto;display:block;">
        <fieldset style="width:220px;margin:0 auto;">
            <div class="editor-label">
                @Html.LabelFor(model => model.Account)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Account)
                @Html.ValidationMessageFor(model => model.Account)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="row">
                @Html.ValidationSummary(true)
                <div class="span1"><a href="#">忘記密碼</a></div>
                <div class="pull-right span1">
                    <button class="btn btn-primary" type="submit">登入</button>
                </div>
            </div>
        </fieldset>
        </div>
    }
</div>
</div> <!-- /container -->
