@model IEnumerable<DailyStatement.ViewModel.PersonalWorkingHours>
@{
    ViewBag.Title = "個人工時分析";
}
<div class="row">
    <div class="span12">
        <h4>個人工時分析 - @ViewBag.Year 年 @ViewBag.Month 月</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>員工</th>
                    <th>內部作業(Wintriss)</th>
                    <th>工程專案 (C_-*)</th>
                    <th>未成案 (ST-*)</th>
                    <th>研發 (CR-*)</th>
                    <th>展示 (DO-*)</th>
                    <th>加班</th>
                    <th>小計</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                { 
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td>@item.InternalHours</td>
                        <td>@item.ProjectHours</td>
                        <td>@item.UndefineHours</td>
                        <td>@item.ResearchHours</td>
                        <td>@item.DemoHours</td>
                        <td>@item.Overtime</td>
                        <td>@(String.Format("{0:#,0}", item.InternalHours + item.ProjectHours + item.UndefineHours + item.ResearchHours + item.DemoHours))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>總計</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.InternalTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.ProjectTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.UndefineTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.ResearchTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.DemoTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.OvertimeTotal))</td>
                    <td>@(String.Format("{0:#,0}", ViewBag.GrandTotal))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="span12">
        @Html.ActionLink("返回", "ReportSearch", null, new { @class = "btn btn-small pull-right" })
        <form action="/Daily/GenerateWorkHoursAnalysisReport" method="post">
            <input name="year" type="hidden" value="@ViewBag.Year" />
            <input name="month" type="hidden" value="@ViewBag.Month" />
            <input id="print" type="submit" value="列印" class="btn btn-small pull-right" />
        </form>
    </div>
</div>