@model DailyStatement.Models.DailyInfo

@{
    ViewBag.Title = "新增工時日誌";
}
<link href="~/Content/chosen.css" rel="stylesheet" />
<div class="row">
    <div class="span6 offset3">
<h4>新增</h4>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>工時日誌</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Project.ProjectNo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Project.ProjectId, (SelectList)ViewData["Projects"])
            @Html.ValidationMessageFor(model => model.Project)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCategory)
        </div>
    
        <div class="editor-field">
            @Html.DropDownListFor(model => model.WorkCategoryId, ViewData["Categories"] as SelectList)
            @*Html.DropDownList("categories", ViewData["Categories"] as SelectList, "請選擇", Model.WorkCategoryId)*@
            @Html.ValidationMessageFor(model => model.WorkCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkContent)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.WorkContent)
            @Html.ValidationMessageFor(model => model.WorkContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkingHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkingHours)
            @Html.ValidationMessageFor(model => model.WorkingHours)
        </div>
        
        @if(User.IsInRole("超級管理員") || User.IsInRole("一般管理員"))
        {
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeList")
        </div>
        }

        <p>
            <input type="submit" value="確認" class="btn btn-small btn-success" />  @Html.ActionLink("返回", "Index", null, new { @class="btn btn-small" })
        </p>
    </fieldset>
}

</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    <script>
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Daily/GetProjects",
                    type: "post"
                }
            }
        });

        

        $(function () {
            $('#CreateDate').kendoDatePicker({
                    culture: "zh-TW",
                    format: "yyyy/MM/dd"
            });
            $("#Project_ProjectId").chosen({
                no_results_text: "無此案號",
                enable_split_word_search: true,
                search_contains: true
            });
        }); 
    </script>
}
