@model IEnumerable<DailyStatement.Models.DailyInfo>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script>
        
        $(function () {
            var urlRead = '@Url.Action("Grid")';

            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 5,
                transport: {
                    read: {
                        url: urlRead,
                        type: "post",
                        dataType: 'json'
                    }
                },
                batch: true,
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; },
                    model: {
                        id: 'DailyInfoId',
                        fields: {
                            DailyInfoId: {
                                editable: false
                            },
                            ProjectNo: {
                                type: 'string'
                            },
                            Category: { type: 'string' },
                            Customer: {
                                type: 'string'
                            },
                            WorkContent: { type: 'string' },
                            CreateDate: { type: 'date' },
                            WorkContent: {type: 'string'}
                        }
                    }
                }
            });


            $("#grid").kendoGrid({
                columns: [{ title: "案號", field: "ProjectNo" },
                    { title: "工作類型", field: "Category" },
                    {
                        title: "客戶名稱", field: "Customer"
                    },
                    { title: "工作內容", field: "WorkContent" },
                    { title: "日期 ", field: "CreateDate", format: "{0:yyyy/MM/dd}" },
                    { title: "工時", field: "WorkContent" },
                    {
                        title: "操作",
                        field: "DailyInfoId",
                        template: '<a href="Daily/Edit/#=DailyInfoId#" class="btn  btn-info">編輯</a>  <a href="Daily/Delete/#=DailyInfoId#" class="btn  btn-danger">刪除</a>'
                    }
                  
                ],
                dataSource: dataSource,
                height: 200,
                scrollable: true,
                pageable: true,
                // editable: true,
                sortable: {
                    mode: "multiple"
                }
            });
        });
    </script>
    }

<h4>工作時數日報</h4>

<div class="row">
    <div class="span12 pull-right">
        @Html.ActionLink("新增", "Create", "Daily", new { @class="btn btn-success pull-right", id="btn-create", style="margin-bottom:2px;"})
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="grid"></div>
    </div>
</div>






<p>
    
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DailyInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DailyInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DailyInfoId })
        </td>
    </tr>
}

</table>
