@model IEnumerable<DailyStatement.Models.DailyInfo>

@{
    ViewBag.Title = "工作時數日誌";
}
@section scripts{
    @Scripts.Render("~/Scripts/jquery.pnotify.js")
    <script>
        
        $(function () {
            var urlRead = '@Url.Action("Grid")';

            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: urlRead,
                        type: "post",
                        dataType: 'json'
                    }
                },
                batch: true,
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; },
                    model: {
                        id: 'DailyInfoId',
                        fields: {
                            DailyInfoId: {
                                editable: false
                            },
                            ProjectNo: {
                                type: 'string'
                            },
                            WorkCategory: { type: 'int' },
                            Customer: {
                                type: 'string'
                            },
                            WorkContent: { type: 'string' },
                            CreateDate: { type: 'date' },
                            WorkingHours: { type: 'string' },
                            EmployeeName: { type: 'string' }                       }
                    }
                }
            });


            $("#grid").kendoGrid({
                columns: [{ title: "案號", field: "ProjectNo", width:100 },
                    { title: "工作類型", field: "WorkCategory", width: 100 },
                    {
                        title: "客戶名稱", field: "Customer"
                    },
                    { title: "工作內容", filterable: false, field: "WorkContent" },
                    { title: "人員", field: "EmployeeName", filterable: false, width: 120 },
                    {
                        title: "日期 ",
                        field: "CreateDate",
                        format: "{0:yyyy/MM/dd}",
                        width: 100
                        
                    },
                    { title: "工時", field: "WorkingHours", width:70 },
                    {
                        title: "操作",
                        field: "DailyInfoId",
                        filterable: false,
                        template: "<a href='@Url.Action("Edit")/#=DailyInfoId#' class='btn btn-small btn-info'>編輯</a> <button class='delete-button btn btn-small btn-danger' onclick='DeleteWithConfirm(#=DailyInfoId#);'>刪除</button>", width: 120 
                    }
                ],
                toolbar: [{ name: "create", template: "<a href='@Url.Action("Create")' class='btn btn-small btn-success pull-right' style='margin-right:22px;'>新增</a>" }],
                dataSource: dataSource,
                height: 700,
                scrollable: true,
                pageable: {
                    input: true,
                    pageSizes: [15,30,50]
                },
                
                // editable: true,
                sortable: true,
                filterable: true
            });

            //change event
            $("#category").keyup(function () {
                var val = $('#category').val();
                $("#grid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ProjectNo",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "Customer",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "WorkContent",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "EmployeeName",
                            operator: "contains",
                            value: val
                        }
                    ]
                });


            });

            $('#reset').click(function () {
                //not working yet
                $('#category').val('');
                $("#grid").data("kendoGrid").dataSource.filter([]);
            });
           
        });

        // Set notificy box Source: http://pinesframework.org/pnotify/
        $.pnotify.defaults.styling = "jqueryui";
        @if (ViewBag.NotifyOfSumHours != null)
        {
            @:$.pnotify({ text: '@ViewBag.NotifyOfSumHours', delay: 3000 });
        }
        @if (ViewBag.NotifyOfInternal != null)
        {
            @:$.pnotify({ text: '@ViewBag.NotifyOfInternal', delay: 3500 });
        }
        

        // functions --
        function DeleteWithConfirm(did) {
            
            var url = '@Url.Action("Delete", "Daily")';
            var destination = url + '/' + did;
            if (window.confirm('確認刪除?')) {
                $.post(destination, function (data) {
                }).done(function () { $("#grid").data("kendoGrid").dataSource.read(); });
                return true;
            } else {
                return false;
            }

        }
    </script>
    }

<div class="row">
    <div class="span12">
        <h4>工作時數日誌</h4>
      
        <div class="toolbar form-search" style="margin-bottom:5px;">
            <div class="input-append">
                <input type="search" id="category" class="span2 search-query" style="width: 230px" />
                <button type="button" id="reset" class="btn">Reset</button>
            </div>
        </div>
        
        <div id="grid"></div>
    </div>
</div>

