@{
    ViewBag.Title = "報表查詢";
}
@section scripts
{
    
    <script>
        // functions
        
        // jQuery
        $(function () {
            var weeksOfMonth;
             @if (User.Identity.IsAuthenticated && (User.IsInRole("超級管理員") || User.IsInRole("一般管理員")))
             {
                @:$('#employeeId').attr('disabled', false);
             }

            var window = $("#dialog").kendoWindow({
                draggable: true,
                resizable: false,
                width: 360,
                height: 300,
                title: "Query",
                actions: ["Refresh"]
               
            });
            
            

            $('#months').change(function () {
                weeksOfMonth = {};
                var today = new Date();
                var year = today.getFullYear();
                var month = $(this).val();
                var daysInMonth = new Date(year, month, 0).getDate();
                var firstDayOfMonth = new Date(year, month - 1, 1).getDay();
                var firstWeekEndDay = 7 - firstDayOfMonth;
                // get first week
                // weeksOfMonth[1] = { start: new Date(year, month - 1, 1), end: new Date(year, month - 1, firstWeekEndDay) }
                for (i = firstWeekEndDay, j = 1; i < daysInMonth; i = i + 7, j++) {
                    
                    if (i + 7 > daysInMonth) {
                        if (month < 12) {
                            var nextFirstDayOfMonth = new Date(year, month, 1).getDay();
                            var nextFirstWeekEndDay = 7 - nextFirstDayOfMonth;
                            weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month, nextFirstWeekEndDay) };
                        } else {
                            weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month, 0) };
                        }
                    } else {
                        weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month - 1, i + 7) };
                    }
                    
                }
                $('#weeks').find('option').remove();
                $.each(weeksOfMonth, function (key, value) {
                    var start = (value['start'].getMonth() + 1) + '/' + value['start'].getDate();
                    var end = (value['end'].getMonth() + 1) + '/' + value['end'].getDate();
                    $('#weeks').append('<option value="' + key + '">' + start + ' - ' + end + '</option>');

                });
                $('#weeks').trigger('change');
            });

            $('#weeks').change(function () {
                var d = weeksOfMonth[$(this).val()];
                var start = d['start'].getFullYear() + '/' + (d['start'].getMonth() + 1) + '/' + d['start'].getDate();
                var end = d['end'].getFullYear() + '/' + (d['end'].getMonth() + 1) + '/' + d['end'].getDate();
                $('input[name=formDate]').val(start);
                $('input[name=toDate]').val(end);

            });
            var today = new Date();
            $('#months').val(today.getMonth() + 1).trigger('change');
        });
    </script>
    }


<div class="row">
     <div class="offset4">
@using (Html.BeginForm("ReportWeekForSingle", "Daily", FormMethod.Post, new { id="dialog"}))
{ 
    @Html.ValidationSummary(true)
    <div style="padding-left:50px;">
        @Html.Hidden("formDate")
        @Html.Hidden("toDate")
        <div class="editor-label">
            User: 
        </div>
        <div class="editor-field">
            @Html.DropDownList("employeeId", (SelectList)ViewBag.Employee, null, new { @disabled = "disabled" })
           
        </div>
         <div class="editor-label">
            Month:
         </div>
        <div class="editor-field">
             @Html.DropDownList("months", (SelectList)ViewBag.Months)
        </div>
        <div class="editor-label">
             Weeks:
        </div>
         <div class="editor-field">
            <select id="weeks"></select>
        </div>
    </div>
    <div class="pull-right span2">
      <input type="submit" value="查詢" class="btn btn-small btn-success"/> @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
    </div>

}
        
    </div>
</div>



