@model IEnumerable<DailyStatement.ViewModel.WeekReportOfSingle>
@{
    ViewBag.Title = "ReportWeekForSingle";
}

<style>
    .bg-mark {
         background:#eee;

    }
    .row-gray {
        background:#d9edf7;
    }
</style>
<h4>個人週報 - @ViewBag.EmployeeName</h4>

<div class="row">
    <div class="span12">
         W@(ViewBag.WeekNum) : @ViewBag.Date
        <table class="table table-bordered table-hover">
            <caption> </caption>
            <thead>
                <tr class="row-gray">
                    <th>工作項目</th>
                    <th>SUN</th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>Total</th>
                </tr>
                
            </thead>
            <tbody>
                @{
                    int[] overheads = new int[5] { 8, 8, 8, 8, 8 };
                    }
                @foreach (var record in Model)
                {
                    overheads[0] -= record.Monday;
                    overheads[1] -= record.Tuesday;
                    overheads[2] -= record.Wednesday;
                    overheads[3] -= record.Thursday;
                    overheads[4] -= record.Friday;
                <tr >
                    <td>@record.WorkName</td>
                    <td class="bg-mark">@record.Sunday</td>
                    <td>@record.Monday</td>
                    <td>@record.Tuesday</td>
                    <td>@record.Wednesday</td>
                    <td>@record.Thursday</td>
                    <td>@record.Friday</td>
                    <td class="bg-mark">@record.Saturday</td>
                    <td>@record.Total</td>
                </tr>
                }
                <tr>
                    <td>*</td>
                    <td class="bg-mark"></td>
                    <td>@(overheads[0] >= 0 ? overheads[0] : 0)</td>
                    <td>@(overheads[1] >= 0 ? overheads[0] : 0)</td>
                    <td>@(overheads[2] >= 0 ? overheads[0] : 0)</td>
                    <td>@(overheads[3] >= 0 ? overheads[0] : 0)</td>
                    <td>@(overheads[4] >= 0 ? overheads[0] : 0)</td>
                    <td class="bg-mark"></td>
                    <td>
                        @(overheads.Sum() >= 0 ? overheads.Sum() : 0)
                    </td>
                </tr>
                <tr class="success">
                    <td colspan="7"></td>
                    <td><strong>Total</strong></td>
                    <td>@ViewBag.TotalOfAll</td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <div class="span12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="row-gray">
                    <th>工作日期</th>
                    <th>案件進度 & 工作內容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mon</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Monday)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tue</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Tuesday)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Wed</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Wednesday)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Thu</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Thursday)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Fri</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Friday)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Overtime</td>
                    <td>
                        <ul>
                        @foreach (var content in ViewBag.Overtime)
                        { 
                            <li>@content</li>
                        }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span12">
        @Html.ActionLink("返回", "ReportSearch", null, new { @class = "btn btn-small pull-right" })
        <form action="/Daily/GenerateWeekReport" method="post">
            <input name="employeeId" type="hidden" value="@ViewBag.EmployeeId" />
            <input name="weekOfYear" type="hidden" value="@ViewBag.WeekNum" />
            <input name="fromDate" type="hidden" value="@ViewBag.FromDate" />
            <input name="toDate" type="hidden" value="@ViewBag.ToDate" />
            <input id="print" type="submit" value="列印" class="btn btn-small pull-right" />
        </form>
    </div>
</div>
