@{
    ViewBag.Title = "報表查詢";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        // functions
        
        // jQuery
        $(function () {
            var weeksOfMonth;
            @if (User.Identity.IsAuthenticated && (User.IsInRole("超級管理員") || User.IsInRole("一般管理員") || User.IsInRole("助理")))
            {
                @:$('#employeeId').attr('disabled', false);

            }
            @if (User.Identity.IsAuthenticated &&  (User.IsInRole("一般管理員") || User.IsInRole("助理")))
            {
                 // @:$("#tab-item-2").remove();
                 // @:$("#tabs-2").remove();
            }
            @*var window = $("#dialog").kendoWindow({
                draggable: true,
                resizable: false,
                width: 360,
                height: 300,
                title: "Query",
                actions: ["Refresh"]
               
            });*@
            
            $('#months').change(function () {
                weeksOfMonth = {};
                var today = new Date();
                var year = today.getFullYear();
                var month = $(this).val();
                var daysInMonth = new Date(year, month, 0).getDate();
                var firstDayOfMonth = new Date(year, month - 1, 1).getDay();
                var firstWeekEndDay = 7 - firstDayOfMonth;
                // get first week
                // weeksOfMonth[1] = { start: new Date(year, month - 1, 1), end: new Date(year, month - 1, firstWeekEndDay) }
                for (i = firstWeekEndDay, j = 1; i < daysInMonth; i = i + 7, j++) {
                    if (i + 7 > daysInMonth) {
                        if (month < 12) {
                            var nextFirstDayOfMonth = new Date(year, month, 1).getDay();
                            var nextFirstWeekEndDay = 7 - nextFirstDayOfMonth;
                            weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month, nextFirstWeekEndDay) };
                        } else {
                            weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month, 0) };
                        }
                    } else {
                        weeksOfMonth[j] = { 'start': new Date(year, month - 1, i + 1), 'end': new Date(year, month - 1, i + 7) };
                    }
                }
                $('#weeks').find('option').remove();
                $.each(weeksOfMonth, function (key, value) {
                    var start = (value['start'].getMonth() + 1) + '/' + value['start'].getDate();
                    var end = (value['end'].getMonth() + 1) + '/' + value['end'].getDate();
                    $('#weeks').append('<option value="' + key + '">' + start + ' - ' + end + '</option>');

                });
                $('#weeks').trigger('change');
            });

            $('#weeks').change(function () {
                var d = weeksOfMonth[$(this).val()];
                var start = d['start'].getFullYear() + '/' + (d['start'].getMonth() + 1) + '/' + d['start'].getDate();
                var end = d['end'].getFullYear() + '/' + (d['end'].getMonth() + 1) + '/' + d['end'].getDate();
                $('input[name=fromDate]').val(start);
                $('input[name=toDate]').val(end);

            });
            var today = new Date();
            $('#months').val(today.getMonth() + 1).trigger('change');

            $("#tabs").tabs();
        });
    </script>
}

<div class="row">
    <div id="tabs">
        <ul>
            <li id="tab-item-1"><a href="#tabs-1">個人週報表</a></li>
            <li id="tab-item-2"><a href="#tabs-2">專案報表</a></li>
            <li id="tab-item-3"><a href="#tabs-3">年度專案進度報表</a></li>
        </ul>
        <div id="tabs-1">
            @using (Html.BeginForm("ReportWeekForSingle", "Daily", FormMethod.Post, new { id = "dialog" }))
            { 
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div style="width: auto; display: block;">
                    <fieldset style="width: 300px; margin: 0 auto;">

                        @Html.Hidden("fromDate")
                        @Html.Hidden("toDate")

                        <div class="editor-label">
                            User: 
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("employeeId", (SelectList)ViewBag.Employee, null, new { @disabled = "disabled" })

                        </div>
                        <div class="editor-label">
                            Month:
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("months", (SelectList)ViewBag.Months)
                        </div>
                        <div class="editor-label">
                            Weeks:
                        </div>
                        <div class="editor-field">
                            <select id="weeks"></select>
                        </div>
                        <div class="row">
                            <div class="pull-right span2">
                                <input type="submit" value="查詢" class="btn btn-small btn-success" />
                                @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                            </div>
                        </div>
                    </fieldset>
                </div>
        }
        </div>

        <div id="tabs-2">
            @using (Html.BeginForm("GenerateProjectReport", "Daily", FormMethod.Post, new { id = "dialog" }))
            { 
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div style="width: auto; display: block;">
                    <fieldset style="width: 300px; margin: 0 auto;">

                        <div class="editor-label">
                            Project No: 
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("projectNo", (SelectList)ViewBag.ProjectNoList)
                        </div>
                        <div class="editor-label">
                            Work Category:
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("workCategoryId", (SelectList)ViewBag.WorkCategory, "全部", null)
                        </div>
                        <div class="row">
                            <div class="pull-right span2">
                                <input type="submit" value="查詢" class="btn btn-small btn-success" />
                                @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                            </div>
                        </div>
                    </fieldset>
                </div>
        }
        </div>

        <div id="tabs-3">
            @Html.ActionLink("年度專案進度報表", "ReportSummaryOfYear", null, new { @class="btn btn-small"})
        </div>
    </div>


</div>



