<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Daily Statement" name="description">
    <meta content="Apputu Co, Ltd" name="author">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css", "~/Content/kendo/css", "~/Content/bootstrap/css" )
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendoUI")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="@Url.Action("Index","Daily")"><img src="@Url.Content("~/Content/images/w_logo_l.png")" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                @if (User.Identity.IsAuthenticated)
                {
                if (!User.IsInRole("助理"))
                {
                <li><a href="@Url.Action("Index","Daily")">Daily</a></li>
                }
                <li><a href="@Url.Action("ReportSearch","Daily")">Report</a></li>
                if (User.IsInRole("超級管理員") || User.IsInRole("一般管理員"))
                {
                <li><a href="@Url.Action("Index", "Employee")">Member</a></li>
                }
                }
            </ul>
          </div>
          <div class="nav-collapse collapse pull-right">
              <ul class="nav">
                   @{
                    if(User.Identity.IsAuthenticated)
                    {
                         <li><a href="@Url.Action("Logout", "Employee")">Logout</a></li>
                    }else
                    {
                        <li><a href="@Url.Action("Login", "Employee")">Sing In</a></li>
                    }
                    }
                  </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      @RenderBody()
    </div>
    <!-- /container -->
    @RenderSection("scripts", required: false)
</body>
</html>

