@model DailyStatement.Models.Project

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="span12">
        <h4>專案預估</h4>
        @using (Html.BeginForm("DetailsEditedPredictions", "Project"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.ProjectNo)
            @Html.HiddenFor(model => model.RowVersion)
            @Html.HiddenFor(model => model.CustomerName)
            <table class="table table-striped table-bordered" id="tp">
                <thead>
                    <tr>
                        <th>工作類別</th>
                        <th>預計工時</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: predictions">
                    <tr>
                        <td data-bind="text: category().name"></td>
                        <td class="data-row span6">
                            <div data-bind="text: category().hours"></div>
                            <input class="v" type="text" data-bind="value: category().hours, attr:{name:'Predictions[' + $parent.predictions.indexOf($data) + '].PredictHours'}" />
                            <input type="hidden" data-bind="value: category().pid, attr:{name:'Predictions[' + $parent.predictions.indexOf($data) + '].PredictionId'}" />
                            <input type="hidden" data-bind="value: category().categoryid,attr:{name:'Predictions[' + $parent.predictions.indexOf($data) + '].WorkCategory.WorkCategoryId'}" />
                            <input type="hidden" data-bind="value: category().name, attr:{name:'Predictions[' + $parent.predictions.indexOf($data) + '].WorkCategory.Name'}" />
                        </td>
                       
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>
                        <input type="submit" value="儲存更新" class="btn btn-small btn-primary" /> @Html.ActionLink("返回", "Index",null, new { @class="btn btn-small"})
                        </th>
                    </tr>
                </tfoot>
            </table>
            
                }
    </div>
    </div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        // string.format sample
        //String.prototype.format = function() {
        //    var formatted = this;
        //    for(arg in arguments) {
        //        formatted = formatted.replace("{" + arg + "}", arguments[arg]);
        //    }
        //    return formatted;
        //};
        function Prediction(category) {
            var self = this;
            self.category = ko.observable(category);
        }

        function PredictionsViewModel() {
            var self = this;
            
            self.avaliable = [];
            @foreach(var item in Model.Predictions)
            {
                @:self.avaliable.push({name:'@item.WorkCategory.Name', hours:ko.observable(@item.PredictHours), pid:@item.PredictionId, categoryid:@item.WorkCategory.WorkCategoryId});
            }

            self.predictions = ko.observableArray();
            for(var i in self.avaliable)
            {
                self.predictions.push(new Prediction(self.avaliable[i]));
            }
            
        }

        ko.applyBindings(new PredictionsViewModel());
       
        $(function(){
            $('.v').css('display',"none");
            $('#tp td').not($('.data-row')).click(function(){
                $('.v').css('display',"none");
                $('.data-row div').css('display',"block");
            });
           
            $('.data-row').click(function(){
                $('.v').css('display',"none");
                $('.data-row div').css('display',"block");
                $(this).find('.v').css('display',"block");
                $(this).find('div').css('display',"none");
            });
        });
    </script>
    }

