@model IEnumerable<DailyStatement.Models.Project>
@{
    ViewBag.Title = "專案資料一覽";
}
@section scripts{
    <script>
        $(function () {
            var urlRead = '@Url.Action("Grid")';
            var dataSource = new kendo.data.DataSource({
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: urlRead,
                        type: 'post',
                        dataType: 'json'
                    }
                },
                batch: true,
                schema: {
                    data: function (d) { return d.data; },
                    total: function (d) { return d.total; },
                    model: {
                        id: 'ProjectId',
                        fields: {
                            ProjectId: { editable: false },
                            ProjectNo: { type: 'string' },
                            CustomerCode: { type: 'string' },
                            CustomerName: { type: 'string' },
                            Comment: { type: 'string' },
                            StartOn: { type: 'date' },
                            WarrantyStart: { type: 'date' },
                            WarrantyEnd: { type: 'date' },
                            IsClosed: { type: 'bool' },
                            Price: { type: 'int' }
                        }
                       
                    }
                }
            });
            
            $('#grid').kendoGrid({
                columns: [
                    { title: "案號", field: "ProjectNo", width: 70 },
                    { title: "客戶代碼", field: "CustomerCode", width: 70 },
                    { title: "公司及案件名稱", field: "CustomerName", width: 150 },
                    { title: "專案起始日", field: "StartOn", format: "{0:yyyy/MM/dd}", width: 80 },
                    { title: "保固起始日", field: "WarrantyStart", format: "{0:yyyy/MM/dd}", width: 80 },
                    { title: "保固迄止日", field: "WarrantyEnd", format: "{0:yyyy/MM/dd}", width: 80 },
                    { title: "結案", field: "IsClosed", width: 40, filterable: false, template: "<input type='checkbox' #= (IsClosed === true) ? checked='checked' : '' # disabled />" },
                    { title: "備註", field: "Comment", width: 140 },
                    { title: "專案金額", field: "Price", format: "{0:c0}", filterable: false, attributes: { style: "text-align:right;" }, width: 90 },
                    {
                        title: "操作",
                        field: "ProjectId",
                        filterable: false,
                        template: "<a href='@Url.Action("Details")/#=ProjectId#' class='btn btn-small'>預估資料</a> <a href='@Url.Action("Edit")/#=ProjectId#' class='btn btn-small btn-info'>編輯</a> <button class='delete-button btn btn-small btn-danger' onclick='DeleteWithConfirm(#=ProjectId#);'>刪除</button>", width: 160
                    }
                ],
                toolbar: [{ name: "create", template: "<a href='@Url.Action("Create")' class='btn btn-small btn-success pull-right' style='margin-right:22px;'>新增</a>" }],
                dataSource: dataSource,
                height: 700,
                scrollable: true,
                pageable: {
                    input: true,
                    pageSizes: [15, 30, 50]
                },

                // editable: true,
                sortable: true,
                filterable: true
            });

            //change event
            $("#category").keyup(function () {
                var val = $('#category').val();
                $("#grid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ProjectNo",
                            operator: "startswith",
                            value: val
                        },
                        {
                            field: "CustomerCode",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "CustomerName",
                            operator: "contains",
                            value: val
                        }
                    ]
                });
            });

            $('#reset').click(function () {
                //not working yet
                $('#category').val('');
                $("#grid").data("kendoGrid").dataSource.filter([]);
            });
        });

        // functions --
        function DeleteWithConfirm(did) {

            var url = '@Url.Action("Delete", "Project")';
            var destination = url + '/' + did;
            if (window.confirm('確認刪除?')) {
                $.post(destination, function (data) {
                }).done(function () { $("#grid").data("kendoGrid").dataSource.read(); });
                return true;
            } else {
                return false;
            }

        }
    </script>
}
<div class="row">
    <div class="span12">
        <h4>專案資料一覽</h4>
      
        <div class="toolbar form-search" style="margin-bottom:5px;">
            <div class="input-append">
                <input type="search" id="category" class="span2 search-query" style="width: 230px" />
                <button type="button" id="reset" class="btn">Reset</button>
            </div>
        </div>

        <div id="grid"></div>
    </div>
</div>
